#rangee1 {
  height: 35px;
}

#rangee2 {
  height: 100px;
}

#rangee3 {
  height: 250px;
}

#mini1 {}

#mini2 {
  height: 50%;
  float: right;
}

.rouge {
  background-color: #e74c3c;
  width: 32%;
  height: 100px;
  float: left;
}

.vert {
  background-color: #2ecc71;
  width: 80%;
  height: 35px;
  float: left;
}

.bleu {
  background-color: #2980b9;
  width: 20%;
  height: 35px;
  float: left;
}

.orange {
  background-color: #e67e22;
  width: 22%;
  height: 50px;
  float: left;
}

.gris {
  background-color: #95a5a6;
  width: 34%;
  height: 50px;
  float: left;
}

.jaune {
  background-color: #f39c12;
  width: 34%;
  height: 50px;
  float: left;
}

.cyan {
  background-color: #16a085;
  width: 23%;
  height: 50px;
  float: left;
}

.orangemoche {
  background-color: #d35400;
  width: 23%;
  height: 50px;
  float: left;
}

.bleumoche {
  background-color: #2c3e50;
  width: 100%;
  height: 170px;
  float: left;
}

* {
  margin: 0;
  padding: 0;
}
